* {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    height: 100vh
}

.main-container {
    display: flex;
    flex: auto;
    height: 100%;
}

.left-side {
    display: flex;
    width: 40%;
}

.grandmas-Tree {
    height: auto;
    width: 100%;
}

.inner-text {
    opacity: 100%;
    color: rgb(255, 255, 255);
    font-size: 65px;
    font-family: Anton;
    letter-spacing: 3px;
}

.inner-picture-div {
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 40%;
    width: 40%;
    text-align: center;
}

.right-side {
    display: flex;
    width: 60%;
}