* {
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
 --orange-color: rgb(176, 39, 5);
 --light-orange: rgb(240, 174, 93);
 --green: rgb(0, 23, 3);
}

html, body {
    height: 100vh;
    background-color: var(--green);
    min-width: 1100px;
}

.main-container {
    display: flex;
    flex: auto;
    height: 100%;
}

.left-side {
    display: flex;
    width: 40%;
}

.right-side {
    display: flex;
    flex-direction: column;
}

.grandmas-Tree {
    height: auto;
    width: 100%;
}

.inner-text {
    opacity: 100%;
    color: rgb(255, 255, 255);
    font-size: 65px;
    font-family: Anton;
    letter-spacing: 3px;
    min-width: 430px;
}

.inner-picture-div {
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 40%;
    width: 39.8%;
    text-align: center;
    min-width: 438px;
}

#form-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 25%;
    width: 95%;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 10px 5px 5px var(--orange-color);
    background-color: var(--light-orange);
    font-family: Comfortaa;
}

.hero-text {
    font-family: Comfortaa;
    font-size: 50px;
    position: relative;
    top: 15px;
    left: 15%;
    height: auto;
}

#inputs {
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: flex;
    margin: 55px;
    margin-top: 0px;
    margin-bottom: 0px;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 50px;
    width: 200px;
    size: 50px;
}

.right-side {
    display: flex;
    border: 3px solid rgba(176, 39, 5, 0.766);
    justify-content: center;
    align-items: center;
    width: 60%;
}

input {
    border:1px solid rgba(128, 128, 128, .5);
    border-radius: 5px;
    width: 200px
}

button {
    font-family: Comfortaa;
    font-size: 30px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--light-orange);
    border: 2px solid var(--orange-color);
}

.below-form {
    display: flex;
    flex-direction: column;
    color: var(--orange-color);
    margin-top: 25px;
}

.login {
    color: var(--light-orange);
}

#password:invalid,
#password-verify:invalid {
    border: 2px solid red;
}